@import '~office-ui-fabric-react/dist/sass/References.scss';

.oneFeoHightlights {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}


.titlehead span{
  font-size: 32px;
  font-weight: 100 !important;
}

.goldtxtstyle  h3{
    color: #BC9934;
    font-size: 28px;
 }
 .grytext2{
  background-color: #e9e9e9;
 }

 .grytext4{
  background-color: #dedede;
 }

.goldtxtstyle ul li a {
  text-decoration: underline !important;
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}